*{
    box-sizing: border-box;
}
body{
    background-color: gray;
    font-family: 'Open Sans',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.header{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    margin: 30px;
    width: 400px;
    max-width: 100%;
}
#date{
    background-image: url("./images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.details label{
    display: inline-block;
    margin-bottom: 5px;
}
.details input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 25%;
}

.details{
    padding: 30px 40px;
}
.details button{
    background-color: blue;
    border: 2px solid blue;
    border-radius: 4px;
    display: block;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.daily{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}
.daily-form{
    padding: 30px 40px;
}
.daily h1{
    margin: 0;
    padding: 20px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;

}
.daily button{
    background-color: blue;
    border: 2px solid blue;
    border-radius: 4px;
    display: block;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
.monthly{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    margin: 30px;
    width: 400px;
    max-width: 100%;
}
.monthly p,h1{
    padding: 30px 40px;
}

.monthly button{
    background-color: blue;
    border: 2px solid blue;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
}
.monthly label{
    display: inline-block;
    margin-bottom: 5px;
}
.monthly input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 25%;
}
.total{
    padding: 10px 40px;
}
#month{
    margin-left: 40px;
    padding: 5px;
}
.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}
.container button{
    background-color: blue;
    border: 2px solid blue;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin: auto;
}
table{
    padding: 30px 40px;
    border-collapse: collapse;
    margin: 40px;
    width: 70%;
}
table, th, td{
    border: 1px solid grey;
    padding: 5px;
}
th{
    font-size: 20px;
    font-weight: 100;
    font-family: inherit;
}
td{
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
}