*{
    box-sizing: border-box;
}
body{
    background-color: gray;
    font-family: 'Open Sans',sans-serif;
    min-height: 100vh;
    margin: 0;
}
main{
    display: flex; 
     align-items: center;
    justify-content: center;
}
nav{
    text-align: center;
    padding: 10px 40px;
    font-size: 35px;
    color: white;
}
#date{
    background-image: url("./images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.daily-form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 5px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;

}
.total{
    padding: 25px 40px;
}
.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    width: 400px;
    height:75vh;
    max-width: 100%;
    margin: 30px;
}
.container button{
    background-color: blue;
    border: 2px solid blue;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin: auto;
}
table{
    padding: 30px 40px;
    border-collapse: collapse;
    margin: 40px;
    width: 70%;
}
table, th, td{
    border: 1px solid grey;
    padding: 5px;
}
th{
    font-size: 20px;
    font-weight: 100;
    font-family: inherit;
}
td{
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
}
.projection, .overtime{
    padding: 5px 40px;
    font-family: inherit;
}
.production h1{
    padding: 5px 40px;
    color: blue;
}
.overtime h1,.projection h1{
    padding-bottom: 20px;
    font-size: 28px;
    color: blue;
}
.leapyear{
    overflow: scroll;
}